@using XI.Portal.Library.Auth.Extensions
@using XI.Portal.Data.CommonTypes
@using Microsoft.AspNet.Identity
@using XI.Portal.Web.Extensions
@model XI.Portal.Web.ViewModels.Players.PlayerInfoViewModel

@{
    ViewBag.Title = $"Player - {Model.Player.Username}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-content">

                    <span class="text-muted pull-right">
                        @Html.GameTypeIcon(Model.Player.GameType)
                    </span>

                    <div id="player" class="tab-pane active">
                        <div class="row m-b-lg" style="margin-left: 5px">
                            <div class="text-center">
                                <h2>@Model.Player.Username</h2>
                            </div>
                        </div>

                        <div>
                            <ul class="list-group clear-list">
                                <li class="list-group-item fist-item">
                                    <span class="pull-right"> @Model.Player.PlayerId</span>
                                    Player ID
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> @Model.Player.Username</span>
                                    Alias
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> @Model.Player.IpAddress</span>
                                    IP Address
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right"> @Html.GuidLink(Model.Player.Guid, Model.Player.GameType)</span>
                                    GUID
                                </li>
                                <li class="list-group-item">
                                    <span class="pull-right">
                                        <i class="fa fa-clock-o"></i> @Model.Player.LastSeen
                                    </span>
                                    Last Seen
                                </li>
                            </ul>

                            <div style="padding-bottom: 10px; padding-top: 20px">
                                <div>
                                    <h4>Perform Admin Action:</h4>
                                    <ul>
                                        @if (User.Identity.IsInAdminOrModeratorRole())
                                        {
                                            <li>@Html.ActionLink("Add Observation", "Create", "Observations", new {id = Model.Player.PlayerId}, new {})</li>
                                            <li>@Html.ActionLink("Add Warning", "Create", "Warnings", new {id = Model.Player.PlayerId}, new {})</li>
                                            <li>@Html.ActionLink("Add Kick", "Create", "Kicks", new {id = Model.Player.PlayerId}, new {})</li>
                                        }
                                        
                                        @if (User.Identity.IsInAdminRole())
                                        {
                                            <li>@Html.ActionLink("Add TempBan", "Create", "TempBans", new {id = Model.Player.PlayerId}, new {})</li>
                                            <li>@Html.ActionLink("Add Ban", "Create", "Bans", new {id = Model.Player.PlayerId}, new {})</li>
                                        }

                                        @if (User.Identity.IsInSeniorAdminRole())
                                        {
                                            <li>@Html.ActionLink("Delete Player", "Delete", "Players", new {id = Model.Player.PlayerId}, new {})</li>
                                        }

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="ibox ">
                <div class="ibox-content">

                    <div id="map" style="height: 450px; width: 100%;"></div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-content">

                    <ul class="nav nav-tabs" id="playerDetailsTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="aliases-tab" data-toggle="tab" href="#aliases" role="tab" aria-controls="aliases" aria-selected="true">Aliases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="ipaddresses-tab" data-toggle="tab" href="#ipaddresses" role="tab" aria-controls="ipaddresses" aria-selected="false">IP Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="relatedplayers-tab" data-toggle="tab" href="#relatedplayers" role="tab" aria-controls="relatedplayers" aria-selected="false">Related Players</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="aliases" role="tabpanel" aria-labelledby="aliases-tab">

                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th>
                                            Username
                                        </th>
                                        <th>
                                            Added
                                        </th>
                                        <th>
                                            Last Used
                                        </th>
                                    </tr>

                                    @foreach (var item in Model.Aliases)
                                    {
                                        <tr>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Added
                                            </td>
                                            <td>
                                                @item.LastUsed
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="ipaddresses" role="tabpanel" aria-labelledby="ipaddresses-tab">

                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th>
                                            Address
                                        </th>
                                        <th>
                                            Added
                                        </th>
                                        <th>
                                            Last Used
                                        </th>
                                    </tr>

                                    @foreach (var item in Model.IpAddresses)
                                    {
                                        <tr>
                                            <td>
                                                @item.Address
                                            </td>
                                            <td>
                                                @item.Added
                                            </td>
                                            <td>
                                                @item.LastUsed
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="relatedplayers" role="tabpanel" aria-labelledby="relatedplayers-tab">

                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <th>
                                            Player Name
                                        </th>
                                        <th>
                                            Connected By IP
                                        </th>
                                    </tr>

                                    @foreach (var item in Model.RelatedIpAddresses)
                                    {
                                        <tr>
                                            <td>
                                                @Html.ActionLink(item.Player.Username, "Details", "Players", new { id = item.Player.PlayerId }, new { })
                                            </td>
                                            <td>
                                                @item.Address
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    @foreach (var item in Model.AdminActions)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h2>
                            @item.Type Record
                        </h2>
                        <p>
                            @if (item.Admin == null)
                            {
                                <text><strong>Created By:</strong> System</text>
                            }
                            else
                            {
                                <text><strong>Created By:</strong> </text>
                                @item.Admin.UserName
                            }

                            <br />
                            <strong>Created:</strong> @item.Created

                            @if (item.Type == AdminActionType.TempBan && item.Expires > DateTime.UtcNow)
                            {
                                <br />
                                <text><strong>Expires:</strong> @item.Expires</text>
                            }
                            else if (item.Type == AdminActionType.TempBan)
                            {
                                <br />
                                <text><strong>Expired:</strong> @item.Expires</text>
                            }

                            @if (item.Type == AdminActionType.Ban && item.Expires != null)
                            {
                                <br />
                                <text><strong>Ban Lifted:</strong> @item.Expires</text>
                            }

                            <br />
                            <strong>Discussion Topic: </strong>

                            @if (item.ForumTopicId != 0)
                            {
                                <a href="https://www.xtremeidiots.com/forums/topic/@item.ForumTopicId-topic/" target="_blank">Link</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Create", "Forums", new {id = item.AdminActionId})" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span> Create Discussion Topic</a>
                            }

                        </p>

                        @{
                            string style;
                            switch (item.Type)
                            {
                                case AdminActionType.Observation:
                                    style = "info";
                                    break;
                                case AdminActionType.Warning:
                                    style = "info";
                                    break;
                                case AdminActionType.Kick:
                                    style = "warning";
                                    break;
                                case AdminActionType.TempBan:
                                    style = item.Expires < DateTime.UtcNow ? "dark" : "danger";
                                    break;
                                case AdminActionType.Ban:
                                    style = item.Expires != null ? "dark" : "danger";
                                    break;
                                default:
                                    style = "info";
                                    break;
                            }
                        }

                        @* ReSharper disable once UnknownCssClass *@
                        <div class="alert alert-@style">
                            @Html.Raw(item.Text)
                        </div>

                        <p>
                            @if (User.Identity.IsInSeniorAdminRole() || User.Identity.GetUserId() == item.Admin?.Id)
                            {
                                switch (item.Type)
                                {
                                    case AdminActionType.Observation:
                                        <a href="@Url.Action("Edit", "Observations", new {id = item.AdminActionId})" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span> Edit Observation</a>
                                        break;
                                    case AdminActionType.Warning:
                                        <a href="@Url.Action("Edit", "Warnings", new {id = item.AdminActionId})" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span> Edit Warning</a>
                                        break;
                                    case AdminActionType.Kick:
                                        <a href="@Url.Action("Edit", "Kicks", new {id = item.AdminActionId})" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span> Edit Kick</a>
                                        break;
                                    case AdminActionType.TempBan:
                                        <a href="@Url.Action("Edit", "TempBans", new {id = item.AdminActionId})" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span> Edit Temp Ban</a>

                                        if (item.Expires > DateTime.UtcNow)
                                        {
                                            <a href="@Url.Action("Lift", "TempBans", new {id = item.AdminActionId})" class="btn btn-sm btn-primary"><span class="fa fa-trash"></span> Lift Ban</a>
                                        }

                                        break;
                                    case AdminActionType.Ban:
                                        <a href="@Url.Action("Edit", "Bans", new {id = item.AdminActionId})" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span> Edit Ban</a>

                                        if (item.Expires == null)
                                        {
                                            <a href="@Url.Action("Lift", "Bans", new {id = item.AdminActionId})" class="btn btn-sm btn-primary"><span class="fa fa-trash"></span> Lift Ban</a>
                                        }

                                        break;
                                }
                            }

                            @if (item.Type == AdminActionType.Ban && item.Admin == null)
                            {
                                <a href="@Url.Action("Claim", "Bans", new {id = item.AdminActionId})" class="btn btn-sm btn-primary"><span class="fa fa-edit"></span> Claim Ban</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    <script>
        function initMap() {
            @if (Model.Location == null)
            {
                <text>var myLatLng = { lat: 0, lng: 0 };</text>
            }
            else
            {
                <text>var myLatLng = { lat: @Model.Location.Latitude, lng: @Model.Location.Longitude };</text>
            }

            var map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 4,
                    center: myLatLng
                });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Player Location'
            });
        }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqX0zqt8PWTqRtk0PA6luVuOJiWSgbiw0&signed_in=false&callback=initMap"></script>
}