@using XI.Portal.Web.Extensions
@model List<XI.Portal.Web.ViewModels.AdmMaintenance.BanFileMonitorStatusViewModel>

@{
    ViewBag.Title = "Ban File Monitor Check Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="wrapper wrapper-content animated fadeInRight">

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            
                            <h2>[@item.GameServer.Title] - @Html.ServerName(item.GameServer)</h2>
                            
                            <p>
                                <text><strong>File Path: </strong>ftp://@item.GameServer.FtpHostname/@item.BanFileMonitor.FilePath</text><br />
                                <text><strong>Last Modified: </strong>@item.LastModified</text><br />
                                <text><strong>Size: </strong>@item.FileSize</text><br />

                                @if (item.OutOfSync && !item.HasError)
                                {
                                   <div class="alert alert-danger">OUT OF SYNC (Last Game Ban: @item.LastGameBan)</div>
                                }
                                else
                                {
                                    <div class="alert alert-success">IN SYNC (Last Game Ban: @item.LastGameBan)</div>
                                }
                            </p>
                            
                            @if (item.HasError)
                            {
                                <div class="alert alert-danger">
                                    <p>
                                        <text><strong>Error: </strong>@item.ErrorMessage</text>
                                    </p>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        }

    </div>