@using XI.Portal.Library.GameTracker.Extensions
@using XI.Portal.Web.Portal.Extensions
@model XI.Portal.Web.Portal.ViewModels.Servers.ServerInfoViewModel

@{
    ViewBag.Title = "Live Players - Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var displayScore = Model.Players.Any(player => player.Score != 0);
    var displayPing = Model.Players.Any(player => player.Ping != 0);
    var displayTeam = Model.Players.Any(player => player.Team != null);
    var displayTime = Model.Players.Any(player => player.Time != TimeSpan.FromSeconds(0));
}


<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-3">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>@Html.ServerName(Model.GameServer)</h5>
                </div>

                <div class="ibox-content">

                    @{
                        var mapUrl = $"https://image.gametracker.com/images/maps/160x120/{Model.GameServer.GameType.ToGameTrackerGameType()}/{Model.GameServer.LiveMap}.jpg";
                    }

                    @Html.GameTypeIcon(Model.GameServer.GameType, Model.GameServer.LiveMap)


                    @if (Model.Map != null)
                    {
                        <hr/>

                        <h5>@Model.Map.MapName Files:</h5>
                        <ul>
                            @foreach (var mapFile in Model.Map.MapFiles)
                            {
                                var link = $"{Model.Map.GameType.GameRedirectBaseUrl()}/{Model.Map.MapName}/{mapFile.FileName}";

                                <li>
                                    <a href="@link">@mapFile.FileName</a>
                                </li>
                            }
                        </ul>
                    }

                </div>
            </div>

        </div>

        <div class="col-sm-9">

            <div class="ibox">
                <div class="ibox-content">

                    @if (Model.Players.Count == 0)
                    {
                        <h2 style="text-align: center">There are currently no connected players</h2>
                    }
                    else
                    {
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.Label("Name")
                                </th>
                                @if (displayScore)
                                {
                                    <th>
                                        @Html.Label("Score")
                                    </th>
                                }

                                @if (displayPing)
                                {
                                    <th>
                                        @Html.Label("Ping")
                                    </th>
                                }

                                @if (displayTeam)
                                {
                                    <th>
                                        @Html.Label("Team")
                                    </th>
                                }

                                @if (displayTime)
                                {
                                    <th>
                                        @Html.Label("Time")
                                    </th>
                                }
                            </tr>

                            @foreach (var item in Model.Players)
                            {
                                <tr>
                                    <td>
                                        @Html.PlayerName(item.Name)
                                    </td>

                                    @if (displayScore)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Score)
                                        </td>
                                    }

                                    @if (displayPing)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ping)
                                        </td>
                                    }

                                    @if (displayTeam)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Team)
                                        </td>
                                    }

                                    @if (displayTime)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Time)
                                        </td>
                                    }

                                </tr>
                            }

                        </table>
                    }

                </div>
            </div>

        </div>
    </div>


    @if (Model.MapRotation.Any())
    {
        <div class="row">
            <div class="col-sm-12">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Current Map Rotation</h5>
                    </div>

                    <div class="ibox-content">

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.Label("Name")
                                </th>
                                <th>
                                    @Html.Label("Game Mode")
                                </th>
                                <th>
                                    @Html.Label("Files")
                                </th>
                                <th>
                                </th>
                            </tr>

                            @foreach (var item in Model.MapRotation)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Map.MapName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GameMode)
                                    </td>
                                    <td>
                                        @foreach (var mapFile in item.Map.MapFiles)
                                        {
                                            var link = $"{Model.GameServer.GameType.GameRedirectBaseUrl()}/{item.Map.MapName}/{mapFile.FileName}";

                                            <li>
                                                <a href="@link">@mapFile.FileName</a>
                                            </li>
                                        }
                                    </td>
                                    <td>
                                        @Html.GameTypeIcon(Model.GameServer.GameType, item.Map.MapName)
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>

            </div>
        </div>
    }


</div>