@using XI.Portal.Web.Portal.Extensions
@model List<XI.Portal.Data.Core.Models.Map>

@{
    ViewBag.Title = "Maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-content">

                    <table class="table">
                        <tr>
                            <th>
                                @Html.Label("Game")
                            </th>
                            <th>
                                @Html.Label("Map Name")
                            </th>
                            <th>
                                @Html.Label("File Count")
                            </th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.GameTypeIcon(item.GameType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MapName)
                                </td>
                                <td>
                                    @Html.Label(item.MapFiles.Count.ToString())
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>

        </div>
    </div>

</div>