@model XI.Portal.Web.ViewModels.Observations.EditObservationViewModel

@{
    ViewBag.Title = $"Edit Observation - {Model.Player.Username}";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>

                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.AdminActionId)

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextAreaFor(model => model.Text, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/content/summernote")
}

@section Scripts {
    @Scripts.Render("~/bundles/summernote")

    <script type="text/javascript">
        $(document).ready(function () {

            $('#Text').summernote({
                focus: true,
                styleWithSpan: false,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol']],
                    ['insert', ['link']]
                ],
                height: 350
            });
        });
    </script>
}